/*------------------------------footer----------------------*/
footer {
  position: relative;
  background-color: #204359;
  border-top: 1px solid #4a627c;
  .copyright {
    padding: 43px 0 25px;
    color: #748ca5;
    font: 400 11px 'OpenSans';
    text-transform: uppercase;
  }
  .top-button {
    position: absolute;
    top: -28px;
    right: 50%;
    transform: translateX(50%);
  }
}