@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url("../fonts/myriadPro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadPro/MyriadPro-Bold.otf") format("opentype"), url("../fonts/myriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/myriadPro/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/myriadPro/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-BoldCond';
  src: url("../fonts/myriadPro/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadPro/MyriadPro-BoldCond.otf") format("opentype"), url("../fonts/myriadPro/MyriadPro-BoldCond.woff") format("woff"), url("../fonts/myriadPro/MyriadPro-BoldCond.ttf") format("truetype"), url("../fonts/myriadPro/MyriadPro-BoldCond.svg#MyriadPro-BoldCond") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Cond';
  src: url("../fonts/myriadPro/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadPro/MyriadPro-Cond.otf") format("opentype"), url("../fonts/myriadPro/MyriadPro-Cond.woff") format("woff"), url("../fonts/myriadPro/MyriadPro-Cond.ttf") format("truetype"), url("../fonts/myriadPro/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-CondIt';
  src: url("../fonts/myriadPro/MyriadPro-CondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadPro/MyriadPro-CondIt.otf") format("opentype"), url("../fonts/myriadPro/MyriadPro-CondIt.woff") format("woff"), url("../fonts/myriadPro/MyriadPro-CondIt.ttf") format("truetype"), url("../fonts/myriadPro/MyriadPro-CondIt.svg#MyriadPro-CondIt") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AGLettericaCondensed';
  src: url("../fonts/AGLetterica/AGLettericaCondensed-Roman.eot");
  src: url("../fonts/AGLetterica/AGLettericaCondensed-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/AGLetterica/AGLettericaCondensed-Roman.woff") format("woff"), url("../fonts/AGLetterica/AGLettericaCondensed-Roman.ttf") format("truetype"), url("../fonts/AGLetterica/AGLettericaCondensed-Roman.svg#AGLettericaCondensed-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/Arial/ArialRegular/ArialRegular.eot");
  src: url("../fonts/Arial/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ArialBold"; */
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/Arial/ArialBold/ArialBold.eot");
  src: url("../fonts/Arial/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialBold/ArialBold.woff") format("woff"), url("../fonts/Arial/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
  font: 400 11px/17px 'Arial', sans-serif;
  color: #7d7d7d;
  width: 100%;
  background-image: linear-gradient(to top, #020202 0%, #020202 47%, #2d2d2d 99%, #2d2d2d 100%);
}

a:link, a:visited {
  color: #fff;
  font: 400 11px 'Arial';
  text-decoration: none;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0 15px;
  text-align: center;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/*------------------------------header----------------------------------*/
header {
  position: relative;
  min-height: 343px;
  background: url("../images/bg-header.jpg") center no-repeat;
}
header .top-line {
  height: 27px;
  background: #000301;
  box-shadow: 0 3px 7px #000301, 0 0 1px rgba(255, 255, 255, 0.38);
}
header .main-nav {
  position: absolute;
  height: 69px;
  min-width: 300px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #2B2A2A;
  border-bottom: 15px solid #101010;
  border-radius: 0 0 10px 10px;
}
header .main-nav h1 {
  display: inline-block;
}
header .main-nav h1 .logo {
  width: 211px;
  height: 54px;
  margin: 0 auto;
}
header .main-nav .nav-button {
  position: absolute;
  top: 22px;
  right: 20px;
}
@media screen and (min-width: 600px) {
  header .main-nav {
    min-width: 600px;
  }
}
@media screen and (min-width: 990px) {
  header .main-nav {
    min-width: 990px;
    text-align: left;
  }
  header .main-nav .nav-button {
    display: none;
  }
  header .main-nav nav {
    float: right;
  }
  header .main-nav nav li {
    padding: 0 19px;
    line-height: 6;
    transition: all 0.6s;
  }
  header .main-nav nav li:last-child {
    margin-right: 20px;
  }
  header .main-nav nav li:hover {
    background: url("../images/hover.png");
  }
  header .main-nav nav li a {
    color: white;
    font: 700 12px 'AGLettericaCondensed';
    text-transform: uppercase;
  }
}
header .header-nav li {
  display: none;
}
@media screen and (min-width: 990px) {
  header .header-nav li {
    display: inline-block;
  }
}
header .alphabetical-menu {
  position: absolute;
  bottom: 0;
  max-width: 886px;
  min-width: 300px;
  min-height: 45px;
  padding: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0 0;
}
header .alphabetical-menu li {
  display: inline-block;
  margin-right: 10px;
}
header .alphabetical-menu li a {
  font: 15px 'MyriadPro', sans-serif;
}
header .alphabetical-menu li a:hover {
  color: #b85302;
}
@media screen and (min-width: 600px) {
  header .alphabetical-menu {
    min-width: 600px;
  }
}
@media screen and (min-width: 900px) {
  header .alphabetical-menu {
    width: 886px;
  }
}

/*------------------------------------topbar----------------------------------*/
.topbar {
  position: relative;
  max-width: 990px;
  min-width: 300px;
  margin: 0 auto;
  height: 50px;
  background-image: linear-gradient(to top, #5c5c5c 0%, #0a0a0a 50%, #5c5c5c 100%);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.63);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}
.topbar .container {
  position: absolute;
  width: 975px;
  min-width: 285px;
  height: 43px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14);
  border-radius: 10px 10px 0 0;
}
.topbar .container .logo-topbar {
  display: none;
  text-shadow: 0 0 11px rgba(0, 3, 1, 0.57);
  color: #b85302;
  font: 15px 'MyriadPro-Bold', sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .topbar .container .logo-topbar {
    display: inline-block;
    margin-right: 44px;
  }
}
.topbar .container .form-search {
  display: inline-block;
}
.topbar .container .form-search .search {
  width: 230px;
  height: 24px;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}
.topbar .container .form-search .search li {
  display: inline-block;
}
.topbar .container .form-search .search input[type="search"] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  min-width: 170px;
  background: none;
  line-height: 0.6;
}
.topbar .container .form-search .search input[type="submit"] {
  width: 30px;
  height: 24px;
  border: none;
  background: url("../images/search.png") no-repeat;
}
.topbar .container .form-search .search ::-webkit-input-placeholder {
  padding: 0 0 10px 10px;
  color: #848484;
  text-transform: uppercase;
  font-family: 'MyriadPro';
}
.topbar .container .form-search .search ::-moz-placeholder {
  padding: 0 0 10px 10px;
  color: #848484;
  text-transform: uppercase;
  font-family: 'MyriadPro';
}
@media screen and (min-width: 900px) {
  .topbar .container .form-search .search {
    width: 306px;
  }
  .topbar .container .form-search .search input[type="search"] {
    width: 240px;
  }
}
.topbar .container .menu-registration {
  display: none;
}
@media screen and (min-width: 768px) {
  .topbar .container {
    text-align: left;
  }
  .topbar .container .nav-button {
    display: none;
  }
  .topbar .container .menu-registration {
    display: block;
    float: right;
    max-width: 305px;
    padding-top: 12px;
  }
  .topbar .container .menu-registration li {
    display: inline-block;
  }
  .topbar .container .menu-registration li:nth-child(n+2):before {
    content: "⋮";
    display: inline-block;
    color: #4d4d4d;
    font: 15px/1 'AGLettericaCondensed';
  }
  .topbar .container .menu-registration li a {
    color: rgba(255, 255, 255, 0.7);
    font: 600 13px 'MyriadPro-Cond';
    text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
    text-transform: uppercase;
  }
  .topbar .container .menu-registration li a:hover {
    color: #d3830e;
  }
}
@media screen and (min-width: 768px) and (min-width: 900px) {
  .topbar .container .menu-registration {
    max-width: 400px;
  }
  .topbar .container .menu-registration li {
    margin-right: 10px;
  }
  .topbar .container .menu-registration li:nth-child(n+2):before {
    margin-right: 10px;
  }
}

.nav-button {
  margin-left: 20px;
  font-size: 20px;
  color: #BF6F0C;
}

/*---------------------------article------------------------------*/
article .top-popular {
  max-width: 324px;
  margin: 20px auto 0;
  background: #0e0e0e;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
article .top-popular .title-popular {
  margin: 12px 0;
  text-shadow: 0 0 1.4px rgba(0, 3, 1, 0.4);
  color: rgba(255, 255, 255, 0.7);
  font: 13px 'MyriadPro-Cond';
  text-transform: uppercase;
}
article .top-popular .title-popular span {
  padding-right: 5px;
  color: #d3830e;
  text-shadow: 0 0 1.4px 1.6px rgba(0, 3, 1, 0.4);
}
article .top-popular .popular-item {
  max-width: 288px;
  position: relative;
  height: 131px;
  margin-bottom: 15px;
  padding: 10px 0 8px 30px;
  background: #131313;
  box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.1);
  font-size: 11px;
  text-align: left;
  list-style-image: url("../images/list.png");
}
article .top-popular .popular-item:after {
  position: absolute;
  top: 0;
  right: 0;
  content: url("../images/popular.png");
}
article .top-download {
  margin-bottom: 18px;
}
@media screen and (min-width: 990px) {
  article {
    max-width: 990px;
    margin: 0 auto;
  }
  article .top-popular {
    display: inline-block;
    width: 324px;
  }
  article .top-popular .title-popular {
    text-align: left;
  }
}

/*-----------------------------------all content--------------------------*/
.all-content {
  max-width: 988px;
  background-color: #1f1f1f;
}
@media screen and (min-width: 990px) {
  .all-content {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
  }
  .all-content .main-content {
    width: 53.38983%;
    float: left;
    margin-left: 23.72881%;
    margin-right: -100%;
  }
  .all-content .left-col {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .all-content .right-col {
    width: 22.0339%;
    float: right;
    margin-right: 0;
  }
}

/*---------------------------main content---------------------------------*/
.main-content {
  max-width: 553px;
  margin: 0 auto;
}
.main-content .slider-content {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 49px;
  width: 100%;
  background: rgba(0, 0, 0, 0.52);
  border-top: 17px solid #000;
  color: #fff;
  font: 400 11px 'AGLettericaCondensed';
  text-transform: uppercase;
  text-align: center;
  line-height: 3;
}
.main-content .slider-preview li {
  display: inline-block;
}

/*-------------------------------game-point------------------------------*/
.game-point {
  background: #fff;
  /*----------------------------breadcrumbs-----------*/
  /*---------------------------game title------------*/
  /*--------------------------game info--------------*/
  /*------------------------game item--------------*/
  /*-----------------------page nav game---------*/
}
.game-point #breadcrumbs {
  padding: 18px 0 10px;
}
.game-point #breadcrumbs li {
  display: inline-block;
}
.game-point #breadcrumbs li:first-child:before {
  content: url("../images/dot.png");
  display: inline-block;
}
.game-point #breadcrumbs li a {
  color: #000;
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  .game-point #breadcrumbs {
    text-align: left;
  }
}
.game-point .game-title {
  max-width: 553px;
  background-image: linear-gradient(to top, #0f0f0f 0%, #0f0f0f 100%, #1a1a1a 100%);
  color: #ef8605;
}
.game-point .game-title h2 {
  position: relative;
  display: inline-block;
}
.game-point .game-title h2:before {
  position: absolute;
  left: -20px;
  top: -8px;
  content: "\f101";
  display: inline-block;
  font: normal normal normal 30px/1 FontAwesome;
}
.game-point .game-title .title-list {
  display: inline-block;
}
.game-point .game-title .title-list li {
  display: inline-block;
  margin-right: 8px;
}
.game-point .game-title a {
  color: #ef8605;
  font-size: 25px;
  line-height: 2;
}
@media screen and (min-width: 600px) {
  .game-point .game-title .container {
    text-align: left;
  }
  .game-point .game-title .container h2 {
    padding-left: 30px;
    line-height: 4;
  }
  .game-point .game-title .container h2:before {
    left: 0;
    line-height: 2;
  }
  .game-point .game-title .container .title-list {
    float: right;
  }
}
.game-point .game-info {
  padding: 7px 0;
  border-top: 1px solid #948e91;
}
.game-point .game-info > li {
  position: relative;
  margin-left: 15px;
  display: inline-block;
  font-size: 9px;
  color: #000;
}
.game-point .game-info > li:nth-child(-n+4):before {
  position: absolute;
  left: -15px;
  content: url("../images/dot.png");
}
@media screen and (min-width: 600px) {
  .game-point .game-info {
    text-align: left;
  }
}
.game-point .comments,
.game-point .more {
  color: #000;
}
.game-point .more {
  display: inline-block;
  width: 73px;
  height: 20px;
  margin: 10px 0 22px 13px;
  padding-right: 5px;
  background-image: linear-gradient(to top, #894b17 0%, #ef8605 100%);
  box-shadow: 0 0 0 1px rgba(235, 132, 5, 0.57);
  line-height: 2;
}
.game-point .game-item:before {
  content: url("../images/line.png");
  display: block;
}
.game-point .game-item .name-game {
  color: #2f2f2f;
  font-weight: 700;
}
@media screen and (min-width: 600px) {
  .game-point .game-item {
    text-align: right;
  }
  .game-point .game-item img {
    float: left;
    margin-right: 10px;
  }
  .game-point .game-item p {
    text-align: left;
  }
  .game-point .game-item .game-item-more {
    position: relative;
  }
  .game-point .game-item .game-item-more:before {
    position: absolute;
    left: -12px;
    top: 14px;
    content: url("../images/line-game.png");
  }
}
.game-point .page-nav-game a {
  color: #ef8605;
}
.game-point .page-nav-game .page-nav {
  display: inline-block;
  width: 205px;
  height: 32px;
  margin-bottom: 20px;
  background: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
  line-height: 3;
}
.game-point .page-nav-game .page-nav li {
  display: inline-block;
}
.game-point .page-nav-game .page-nav-prew,
.game-point .page-nav-game .page-nav-next {
  text-shadow: 0 0 1.4px rgba(0, 3, 1, 0.13);
}
.game-point .page-nav-game .page-nav-prew {
  color: #0e0e0e;
}
.game-point .page-nav-game .page-nav-next {
  color: #ef8605;
}

/*----------------------------------------------game order-----------------------*/
.game-order {
  max-width: 553px;
  height: 81px;
  background: #222;
  border: 1px solid black;
  box-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.36);
}
.game-order .banner {
  width: 85%;
  float: right;
}
@media screen and (min-width: 600px) {
  .game-order .banner {
    max-width: 100%;
    margin-top: 15px;
  }
}

/*---------------------------------------aside left-col--------------------------*/
.left-col {
  max-width: 220px;
  margin: 0 auto;
  background: #1a1a1a;
}
.left-col .title {
  position: relative;
  width: 209px;
  height: 40px;
  margin: 0 auto;
  padding-left: 10px;
  background-image: linear-gradient(to top, #844818 0%, #f28804 100%);
  border: 1px solid #6a3700;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
  color: #000;
  font: 17px 'MyriadPro-BoldCond';
  text-align: left;
  line-height: 2.3;
  text-transform: uppercase;
}
.left-col .title:after {
  position: absolute;
  right: 11px;
  content: url("../images/decor.png");
}
.left-col .navigation,
.left-col .genre {
  max-width: 209px;
  margin: 0 auto 24px;
  padding-left: 25px;
  text-align: left;
  list-style-image: url("../images/slice.png");
}
.left-col .navigation li,
.left-col .genre li {
  padding: 12px 0;
  border-bottom: 3px dotted #0f0f0f;
}
.left-col .advert img {
  margin: 12px 0 9px 19px;
}

/*-------------------------------------aside right col------------------------*/
.right-col {
  max-width: 208px;
  margin: 0 auto;
}
.right-col .title {
  position: relative;
  width: 207px;
  height: 40px;
  background-image: linear-gradient(to top, black 0%, black 100%);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
  color: #e58106;
  text-transform: uppercase;
  font: 14px "MyriadPro-BoldCond";
  line-height: 3;
  text-align: center;
}
.right-col .title:after {
  content: url("../images/title-gal.png");
  position: absolute;
  top: -2px;
  right: 50%;
  transform: translateX(50%);
}
.right-col .gallery {
  overflow: hidden;
  margin-top: 11px;
  background: #1a1a1a;
  text-align: center;
}
.right-col .gallery ul {
  margin: 15px 0 11px;
}
.right-col .gallery ul li {
  display: inline-block;
}
.right-col .gallery ul li:nth-child(odd) {
  margin-right: 15px;
}
.right-col .video {
  overflow: hidden;
  margin: 48px 0 7px;
  background: #1a1a1a;
  text-align: center;
}
.right-col .video ul {
  margin-top: 21px;
}
.right-col .video ul li {
  display: inline-block;
  max-width: 78px;
}
.right-col .video ul li:first-child {
  margin-right: 19px;
}
.right-col .video ul li a {
  color: #f08704;
  font-size: 9px;
}
.right-col .view-more {
  display: inline-block;
  float: right;
  width: 78px;
  height: 21px;
  margin: 10px 19px 6px 0;
  background-image: linear-gradient(to top, #834719 0%, #f28804 100%);
  color: #000;
  line-height: 2;
}
.right-col .view-more span {
  font-size: 12px;
}
.right-col .advert {
  margin-bottom: 11px;
  background: #1a1a1a;
}
.right-col .advert img {
  margin: 12px 0 30px 15px;
}
.right-col .advert-voting {
  margin-bottom: 40px;
  background: #1a1a1a;
}
.right-col .advert-voting .voting-form {
  padding-left: 14px;
  text-align: left;
}
.right-col .advert-voting .voting-form span {
  display: inline-block;
  margin: 14px 0 13px;
  color: #fb9c0b;
}
.right-col .advert-voting .voting-form li {
  color: #fff;
}
.right-col .advert-voting .voting-form li input[type="submit"] {
  width: 78px;
  height: 21px;
  margin: 20px 0 39px;
  background-image: linear-gradient(to top, #894b17 0%, #ef8605 100%);
  box-shadow: 0 0 0 1px rgba(235, 132, 5, 0.55);
  border: none;
}
.right-col .advert-voting .voting-form li .result {
  width: 78px;
  height: 21px;
  display: inline-block;
  background-image: linear-gradient(to top, black 0%, #1f1f1f 100%);
  box-shadow: 0 0 0 1px rgba(59, 59, 59, 0.75);
  line-height: 2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .right-col {
    max-width: 450px;
  }
  .right-col .gallery,
  .right-col .video,
  .right-col .advert,
  .right-col .advert-voting {
    max-width: 208px;
    display: inline-block;
  }
  .right-col .video {
    height: 261px;
    margin: 0;
  }
  .right-col .advert {
    height: 279px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 990px) {
  .right-col {
    margin-bottom: 50px;
  }
}

/*---------------------------------------footer----------------------------------*/
footer {
  position: relative;
  max-width: 990px;
  margin: 0 auto;
  background: #0c0c0c;
}
footer .logo-footer {
  width: 99px;
  height: 18px;
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.69);
  color: #b85200;
  font-family: 'MyriadPro';
  font-size: 24px;
  text-transform: uppercase;
}
footer .copyright {
  color: #fff;
  font-size: 12px;
  white-space: pre-line;
}
footer .copyright span {
  color: #bfbfbf;
  font-size: 11px;
}
footer .top-button {
  margin-right: 15px;
  color: #494949;
  font-size: 11px;
  white-space: pre-line;
}
@media screen and (min-width: 768px) {
  footer {
    min-height: 106px;
  }
  footer .container {
    text-align: left;
  }
  footer .container h5 {
    display: inline-block;
    max-width: 200px;
  }
  footer .container h5 img {
    display: inline-block;
  }
  footer .container .copyright {
    display: inline-block;
    max-width: 340px;
    margin-left: 20px;
  }
  footer .container .statistic {
    display: inline-block;
    max-width: 175px;
    margin-top: 15px;
  }
  footer .container .statistic li {
    display: inline-block;
    width: 84px;
    height: 29px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background: #0e0e0e;
  }
}
@media screen and (min-width: 990px) {
  footer:before {
    content: url("../images/footer-line.png");
    width: 100%;
    height: 20px;
    top: -18px;
    position: absolute;
  }
  footer .container .copyright {
    max-width: 400px;
    margin: 20px 30px 0 30px;
  }
  footer .container .top-button {
    float: right;
    margin-top: 40px;
  }
}
