@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/myriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/myriadPro/MyriadPro-Bold.otf')  format('opentype'),
       url('../fonts/myriadPro/MyriadPro-Bold.woff') format('woff'),
       url('../fonts/myriadPro/MyriadPro-Bold.ttf')  format('truetype'),
       url('../fonts/myriadPro/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyriadPro-BoldCond';
  src: url('../fonts/myriadPro/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
       url('../fonts/myriadPro/MyriadPro-BoldCond.otf')  format('opentype'),
       url('../fonts/myriadPro/MyriadPro-BoldCond.woff') format('woff'),
       url('../fonts/myriadPro/MyriadPro-BoldCond.ttf')  format('truetype'),
       url('../fonts/myriadPro/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('../fonts/myriadPro/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
       url('../fonts/myriadPro/MyriadPro-Cond.otf')  format('opentype'),
       url('../fonts/myriadPro/MyriadPro-Cond.woff') format('woff'),
       url('../fonts/myriadPro/MyriadPro-Cond.ttf')  format('truetype'),
       url('../fonts/myriadPro/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyriadPro-CondIt';
  src: url('../fonts/myriadPro/MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/myriadPro/MyriadPro-CondIt.otf')  format('opentype'),
       url('../fonts/myriadPro/MyriadPro-CondIt.woff') format('woff'),
       url('../fonts/myriadPro/MyriadPro-CondIt.ttf')  format('truetype'),
       url('../fonts/myriadPro/MyriadPro-CondIt.svg#MyriadPro-CondIt') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AGLettericaCondensed';
  src: url('../fonts/AGLetterica/AGLettericaCondensed-Roman.eot');
  src: url('../fonts/AGLetterica/AGLettericaCondensed-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AGLetterica/AGLettericaCondensed-Roman.woff') format('woff'),
  url('../fonts/AGLetterica/AGLettericaCondensed-Roman.ttf') format('truetype'),
  url('../fonts/AGLetterica/AGLettericaCondensed-Roman.svg#AGLettericaCondensed-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/Arial/ArialRegular/ArialRegular.eot");
  src: url("../fonts/Arial/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"),
  url("../fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ArialBold"; */
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/Arial/ArialBold/ArialBold.eot");
  src: url("../fonts/Arial/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Arial/ArialBold/ArialBold.woff") format("woff"),
  url("../fonts/Arial/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}