html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #b1b1b1;
  font: 400 16px 'Roboto';
}

#wrapper {
  overflow: hidden;
}

a:link, a:visited {
  font: 500 14px 'Roboto';
  color: #bbb;
  text-decoration: none;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0 15px;
  text-align: center;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/*--------------------------------hero--------------------------*/
.hero {
  background: url("../images/intro.jpg") center no-repeat;
  background-size: cover;
  height: 120vh;
  /*----------------------------header-------------------------*/
}
.hero header {
  position: relative;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.35);
}
.hero header .logo {
  float: left;
  margin-top: 30px;
}
.hero .slider {
  max-width: 990px;
  margin: 50px auto 0;
}
@media screen and (min-width: 600px) {
  .hero .slider {
    margin-top: 100px;
  }
}
.hero .slider li h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}
.hero .slider li h2 span {
  color: #f7cc4b;
}
@media screen and (min-width: 768px) {
  .hero .slider li h2 {
    font-size: 50px;
  }
}
@media screen and (min-width: 900px) {
  .hero .slider li h2 {
    font-size: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .slider {
    margin-top: 175px;
  }
  .hero .slider li h2 {
    font-size: 82px;
  }
}

/*--------------------------navigation-----------------------*/
.navigation {
  display: none;
  margin-top: 40px;
}
@media screen and (min-width: 900px) {
  .navigation {
    display: block;
    float: right;
  }
}
.navigation li {
  display: inline-block;
  margin-right: 20px;
}
.navigation li a {
  text-transform: uppercase;
}
.navigation li a:hover {
  color: #fff;
}

.fa-bars {
  position: absolute;
  top: 35px;
  right: 40px;
  font-size: 20px;
}
@media screen and (min-width: 900px) {
  .fa-bars {
    display: none;
  }
}

/*---------------------------about-us-----------------------*/
#about-us .section-title {
  margin-top: 40px;
  color: #222;
  font: 100 30px 'Roboto';
  color: #222;
}
@media screen and (min-width: 900px) {
  #about-us .section-title {
    margin-top: 100px;
    font-size: 60px;
  }
}
#about-us .subtitle {
  display: inline-block;
  margin-bottom: 25px;
  color: #f7cc4b;
  font: 300 10px 'Roboto';
}
@media screen and (min-width: 900px) {
  #about-us .subtitle {
    margin-bottom: 51px;
    font-size: 20px;
  }
}
#about-us .find-more {
  display: inline-block;
  width: 170px;
  height: 40px;
  margin: 45px 0;
  border: 2px solid #f7cc4b;
  border-radius: 1px;
  color: #f7cc4b;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  transition: all 0.5s;
}
#about-us .find-more:hover {
  background: #f7cc4b;
  color: #fff;
}
@media screen and (min-width: 768px) {
  #about-us .subtitle {
    display: block;
    margin-bottom: 51px;
  }
  #about-us p {
    max-width: 515px;
    margin: 51px auto 10px;
  }
  #about-us .find-more {
    margin-bottom: 160px;
  }
}
@media screen and (min-width: 900px) {
  #about-us .section-title,
  #about-us .subtitle,
  #about-us p {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    text-align: left;
  }
  #about-us .find-more {
    float: left;
  }
  #about-us p {
    margin-top: 0;
  }
  #about-us img {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    overflow: hidden;
    margin-top: -50px;
    margin-bottom: 70px;
    padding-bottom: 100px;
  }
}

/*-----------------------------------video------------------------------*/
#video {
  margin: 0 -50px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  background-color: #f7cc4b;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
#video .container {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  padding: 50px 60px;
}
#video .section-title {
  margin-top: 40px;
  color: #222;
  font: 100 30px 'Roboto';
  color: #fff;
}
@media screen and (min-width: 900px) {
  #video .section-title {
    margin-top: 100px;
    font-size: 60px;
  }
}
#video .subtitle {
  display: inline-block;
  margin-bottom: 25px;
  color: #f7cc4b;
  font: 300 10px 'Roboto';
  color: #222;
}
@media screen and (min-width: 900px) {
  #video .subtitle {
    margin-bottom: 51px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  #video .subtitle {
    margin-bottom: 62px;
  }
  #video .video {
    margin-bottom: 100px;
  }
}
#video .video {
  display: none;
}
#video .video iframe {
  width: 300px;
}
@media screen and (min-width: 600px) {
  #video .video iframe {
    width: 560px;
  }
}

/*-----------------------------team-------------------------*/
#team .section-title {
  margin-top: 40px;
  color: #222;
  font: 100 30px 'Roboto';
  color: #222;
}
@media screen and (min-width: 900px) {
  #team .section-title {
    margin-top: 100px;
    font-size: 60px;
  }
}
#team .subtitle {
  display: inline-block;
  margin-bottom: 25px;
  color: #f7cc4b;
  font: 300 10px 'Roboto';
}
@media screen and (min-width: 900px) {
  #team .subtitle {
    margin-bottom: 51px;
    font-size: 20px;
  }
}
#team .person li {
  margin-bottom: 20px;
}
#team .person li h4 {
  color: #222;
  font: 300 24px/28px 'Roboto';
}
#team .person li span {
  color: #f7cc4b;
  font: 400 16px/28px 'Roboto';
}
@media screen and (min-width: 768px) {
  #team .subtitle {
    margin-bottom: 51px;
  }
  #team .person {
    margin-bottom: 76px;
  }
}

/*---------------------------------parallax-------------------------*/
#parallax {
  background: url("../images/parallax.jpg") center no-repeat;
  background-size: cover;
}
#parallax .section-title {
  margin-top: 40px;
  color: #222;
  font: 100 30px 'Roboto';
  margin-top: 100px;
  color: #fff;
}
@media screen and (min-width: 900px) {
  #parallax .section-title {
    margin-top: 100px;
    font-size: 60px;
  }
}
#parallax .subtitle {
  display: inline-block;
  margin-bottom: 25px;
  color: #f7cc4b;
  font: 300 10px 'Roboto';
  margin-bottom: 51px;
}
@media screen and (min-width: 900px) {
  #parallax .subtitle {
    margin-bottom: 51px;
    font-size: 20px;
  }
}
#parallax p {
  max-width: 569px;
  margin: 0 auto;
  color: #b1b1b1;
  font-size: 16px;
}
#parallax .find-more {
  display: inline-block;
  width: 170px;
  height: 40px;
  margin: 45px 0;
  border: 2px solid #f7cc4b;
  border-radius: 1px;
  color: #f7cc4b;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  transition: all 0.5s;
  margin-bottom: 100px;
}
#parallax .find-more:hover {
  background: #f7cc4b;
  color: #fff;
}
@media screen and (min-width: 900px) {
  #parallax .section-title {
    margin-top: 280px;
  }
  #parallax .find-more {
    margin-bottom: 250px;
  }
}
@media screen and (min-width: 1200px) {
  #parallax {
    height: 140vh;
  }
  #parallax .section-title {
    margin-top: 360px;
  }
  #parallax .find-more {
    margin-bottom: 320px;
  }
}

/*------------------------------principles--------------------*/
#principles .section-title {
  margin-top: 40px;
  color: #222;
  font: 100 30px 'Roboto';
  color: #222;
}
@media screen and (min-width: 900px) {
  #principles .section-title {
    margin-top: 100px;
    font-size: 60px;
  }
}
#principles .subtitle {
  display: inline-block;
  margin-bottom: 25px;
  color: #f7cc4b;
  font: 300 10px 'Roboto';
  display: block;
}
@media screen and (min-width: 900px) {
  #principles .subtitle {
    margin-bottom: 51px;
    font-size: 20px;
  }
}
#principles p {
  max-width: 515px;
  margin: 50px auto 0;
}
#principles .find-more {
  display: inline-block;
  width: 170px;
  height: 40px;
  margin: 45px 0;
  border: 2px solid #f7cc4b;
  border-radius: 1px;
  color: #f7cc4b;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  transition: all 0.5s;
  margin-bottom: 100px;
}
#principles .find-more:hover {
  background: #f7cc4b;
  color: #fff;
}
@media screen and (min-width: 768px) {
  #principles .subtitle {
    margin-bottom: 51px;
  }
}
@media screen and (min-width: 900px) {
  #principles img {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-top: -160px;
    margin-bottom: 182px;
  }
  #principles .section-title,
  #principles .subtitle,
  #principles p {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
  #principles .section-title {
    margin-top: 120px;
  }
  #principles .subtitle {
    margin-left: 50%;
  }
  #principles p {
    margin-top: 0;
  }
  #principles .find-more {
    float: right;
  }
}
@media screen and (min-width: 1200px) {
  #principles .section-title,
  #principles .subtitle {
    padding-left: 30px;
  }
}

/*-----------------------------------portfolio------------------------------*/
#portfolio {
  margin: 0 -50px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  background-color: #f7cc4b;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  /*--------------------------------------owl-carousel----------------------*/
}
#portfolio .container {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  padding: 20px 60px 70px;
}
#portfolio .section-title {
  margin-top: 40px;
  color: #222;
  font: 100 30px 'Roboto';
  color: #fff;
}
@media screen and (min-width: 900px) {
  #portfolio .section-title {
    margin-top: 100px;
    font-size: 60px;
  }
}
#portfolio .subtitle {
  display: inline-block;
  margin-bottom: 25px;
  color: #f7cc4b;
  font: 300 10px 'Roboto';
  color: #444;
}
@media screen and (min-width: 900px) {
  #portfolio .subtitle {
    margin-bottom: 51px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  #portfolio .subtitle {
    margin-bottom: 51px;
  }
}
#portfolio #portfolio-slider .item {
  margin: 3px;
}
#portfolio #portfolio-slider .item img {
  display: block;
  width: 100%;
  height: auto;
}
#portfolio .owl-wrapper-outer {
  margin-bottom: 66px;
}
@media screen and (min-width: 768px) {
  #portfolio .slider {
    margin-bottom: 170px;
  }
}

/*----------------------------achievements---------------------------------*/
#achievements .section-title {
  margin-top: 40px;
  color: #222;
  font: 100 30px 'Roboto';
  color: #222;
}
@media screen and (min-width: 900px) {
  #achievements .section-title {
    margin-top: 100px;
    font-size: 60px;
  }
}
#achievements .subtitle {
  display: inline-block;
  margin-bottom: 25px;
  color: #f7cc4b;
  font: 300 10px 'Roboto';
}
@media screen and (min-width: 900px) {
  #achievements .subtitle {
    margin-bottom: 51px;
    font-size: 20px;
  }
}
#achievements .statistics {
  position: relative;
  margin-bottom: 35px;
}
#achievements .statistics:after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: 0;
  left: 0;
  border: 1px solid #eee;
}
#achievements .statistics li {
  display: inline-block;
  margin-bottom: 40px;
  white-space: pre-line;
}
#achievements .statistics li .fa {
  font-size: 80px;
  color: #222;
}
#achievements .statistics li .total {
  display: inline-block;
  margin: 30px 0;
  color: #f7cc4b;
  font-size: 84px;
  font-weight: 300;
  line-height: 35px;
}
#achievements .statistics li h4 {
  color: #666;
}
@media screen and (min-width: 768px) {
  #achievements .statistics {
    margin-bottom: 75px;
  }
}
#achievements .quote {
  max-width: 929px;
  margin: 0 auto;
  font-size: 27px;
  color: #222;
}
#achievements .quote span {
  color: #f7cc4b;
}
#achievements .quote blockquote {
  margin-bottom: 32px;
}
#achievements .quote cite {
  color: #bbb;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  #achievements .quote {
    margin-bottom: 149px;
  }
}

/*-----------------------------------contact------------------------------*/
#contact {
  margin: 0 -50px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  background-color: #f7cc4b;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}
#contact .container {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  padding: 20px 60px 70px;
}
#contact .section-title {
  margin-top: 40px;
  color: #222;
  font: 100 30px 'Roboto';
  color: #fff;
}
@media screen and (min-width: 900px) {
  #contact .section-title {
    margin-top: 100px;
    font-size: 60px;
  }
}
#contact .subtitle {
  display: inline-block;
  margin-bottom: 25px;
  color: #f7cc4b;
  font: 300 10px 'Roboto';
  color: #222;
}
@media screen and (min-width: 900px) {
  #contact .subtitle {
    margin-bottom: 51px;
    font-size: 20px;
  }
}
#contact .subscribe li {
  margin-bottom: 10px;
}
#contact .subscribe li input[type='text'],
#contact .subscribe li input[type='email'] {
  width: 284px;
  height: 50px;
  background: none;
  border: 2px solid #fff;
  border-radius: 1px;
  padding-left: 10px;
  color: #fff;
  font-size: 15px;
}
#contact .subscribe li ::-webkit-input-placeholder {
  padding-left: 10px;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
}
#contact .subscribe li :focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
#contact .subscribe li :focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
#contact .subscribe li ::-moz-placeholder {
  padding-left: 10px;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
}
#contact .subscribe li input[type='submit'] {
  width: 188px;
  height: 50px;
  background-color: #222;
  border: 2px solid #222;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
#contact .subscribe li input[type='submit']:hover {
  border: #f7cc4b;
  box-shadow: inset 0 0 0 5px #f7cc4b;
}
@media screen and (min-width: 900px) {
  #contact .subtitle {
    margin-bottom: 64px;
  }
  #contact .subscribe {
    margin-bottom: 94px;
  }
  #contact .subscribe li {
    display: inline-block;
    margin-right: 16px;
  }
  #contact .subscribe li:last-child {
    margin-right: 0;
  }
}

/*-----------------------------footer-----------------------------*/
footer {
  position: relative;
  z-index: 10;
  background-color: #222;
}
footer .social {
  padding: 50px 0 20px;
}
footer .social li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #fff;
}
footer .social li .fa {
  color: #fff;
  font-size: 25px;
  line-height: 2;
  text-align: center;
}
@media screen and (min-width: 900px) {
  footer .social {
    padding: 52px 0 32px;
  }
}
footer .copyright {
  margin-bottom: 40px;
  color: #bbb;
}
footer .copyright span {
  color: #f7cc4b;
}
@media screen and (min-width: 900px) {
  footer .copyright {
    margin-bottom: 60px;
  }
}
