// Screen
// ======
@import "compass/reset";

@import
  "layouts/grids",
  "layouts/header",
  "layouts/footer";

@import "utils/mixin";

.container {
  @include container();
  padding: 0 15px;
  text-align: center;
}

@include border-box-sizing();

a:link, a:visited {
  font: 400 18px/24px 'Lato', sans-serif;
  text-decoration: none;
  color: #fff;
}

:focus {
  outline: none;
}

#wrapper {
  overflow: hidden;
  background-color: #ececec;
}

body {
  color: #6e6e6e;
  font: 400 16px/28px 'Lato', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}


/*---------------------------hero-----------------------------*/
#hero {
  background: url("../images/bg-hero.png") center no-repeat;
  background-size: cover;
  min-height: 450px;
  @media screen and (min-width: 768px) {
    min-height: 709px;
  }
  @media screen and (min-width: 1270px) {
    height: 950px;
  }
  .intro {
    max-width: 679px;
    margin: 0 auto;
    .logo {
      display: inline-block;
      margin-top: 135px;
      @media screen and (min-width: 768px) {
        margin-top: 200px;
      }
    }
    .intro-title {
      color: #fff;
      font-size: 20px;
      font-style: italic;
      text-transform: uppercase;
      @media screen and (min-width: 768px) {
        line-height: 60px;
        font-size: 44px;
      }
    }
  }
}

/*-------------------------------about------------------*/
#about {
  background-color: #ececec;
  @include corner;
  &:before,
  &:after {
    height: 150px;
    z-index: 2;
    bottom: -55px;
    background: #ececec;
    @media screen and (min-width: 768px) {
      height: 220px;
      bottom: -90px;
    }
    @media screen and (min-width: 990px) {
      bottom: -15px;
      height: 250px;
    }
  }
  &:after {
    right: 43%;
    @media screen and (min-width: 900px) {
      right: 44%;
    }
    @media screen and (min-width: 1300px) {
      right: 45%;
    }
  }
  &:before {
    left: 43%;
    @media screen and (min-width: 1100px) {
      left: 45%;
    }
  }
  .section-title {
    @include section-title;
  }
  .about {
    position: relative;
    z-index: 5;
    li {
      display: inline-block;
      width: 300px;
      padding: 50px 0 60px;
      @media screen and (min-width: 768px) {
        &:first-child {
          margin-right: 100px;
        }
      }
      @media screen and (min-width: 990px) {
        margin-right: 100px;
        &:last-child {
          margin-right: 0;
        }
      }
      h4 {
        margin-bottom: 30px;
        color: #333;
        font: 700 20px/28px 'Raleway';
        text-transform: uppercase;
      }
      .background {
        @include background;
      }
    }
  }
}

/*--------------------------------------templates-------------------*/
#templates {
  padding-bottom: 70px;
  margin-bottom: -173px;
  background: #fff;
  @media screen and (min-width: 1100px) {
    padding-bottom: 10px;
  }
  @include corner;
  @media screen and (min-width: 990px) {
    margin-bottom: 0;
    padding-top: 1px;
  }
  &:before,
  &:after {
    height: 150px;
    bottom: -80px;
    background: #fff;
    @media screen and (min-width: 480px) {
      bottom: -40px;
    }
    @media screen and (min-width: 768px) {
      bottom: -20px;
    }
    @media screen and (min-width: 900px) {
      bottom: -50px;
      height: 200px;
    }
    @media screen and (min-width: 990px) {
      bottom: -130px;
      height: 220px;
    }
    @media screen and (min-width: 1100px) {
      bottom: -110px;
      height: 250px;
    }
  }
  &:after {
    right: 46%;
    transform: rotate(11deg);
    @media screen and (min-width: 600px) {
      right: 47%;
    }
    @media screen and (min-width: 1100px) {
      right: 47%;
    }
  }
  &:before {
    left: 46%;
    transform: rotate(-11deg);
    @media screen and (min-width: 600px) {
      left: 47%;
    }
  }
  .section-title {
    @include section-title;
    padding-top: 150px;
    @media screen and (min-width: 990px) {
      padding-top: 260px;
    }
  }
  h4 {
    margin-bottom: 36px;
    color: #333;
    font-family: 700 20px/28px 'Raleway';
    text-transform: uppercase;
  }
  .read-more {
    overflow: hidden;
    display: inline-block;
    margin-top: 50px;
    width: 96px;
    height: 27px;
    border: 1px solid #009aff;
    color: #009aff;
    font-size: 12px;
    transition: all 0.5s;
    &:hover {
      background-color: #009aff;
      color: #fff;
    }
  }
  @media screen and (min-width: 480px) {
    img {
      max-width: 469px;
    }
  }

  @media screen and (min-width: 990px) {
    img {
      float: right;
      margin-left: 100px;
    }
    h4 {
      text-align: left;
      margin-top: 70px;
    }
    p {
      text-align: left;
    }
    .read-more {
      position: relative;
      z-index: 15;
      float: left;
    }
  }
}

/*----------------------------------services------------------------------*/
#services {
  background: url("../images/bg-services.png") center no-repeat;
  background-size: cover;
  .section-title {
    @include section-title;
    padding-top: 270px;
    color: #fff;
    @media screen and (min-width: 990px) {
      padding-top: 200px;
    }
  }
  .background {
   @include background;
  }
  li {
    display: inline-block;
    width: 170px;
    margin: 0 auto 20px;
    color: white;
    font: 500 18px/28px 'Raleway';
    &:last-child {
      h4 {
        padding-bottom: 50px;
      }
    }
  }
  @media screen and (min-width: 990px) {
    .services {
      overflow: hidden;
      max-width: 1300px;
      margin: 0 auto;
      padding-bottom: 90px;
      li {
        @include gallery(3 of 12);
        &:nth-of-type(2),
        &:nth-of-type(3) {
          margin-top: 78px;
        }
      }
    }
  }
}

/*------------------------blog--------------------------*/
#blog-container {
  margin: 0 auto;
  .blog-item {
    margin-right: auto;
    margin-left: auto;
  }
}
#blog {
  position: relative;
  padding-bottom: 110px;
  background-color: #ececec;
  .section-title {
    @include section-title;
  }
  .blog-item {
    max-width: 270px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px 9px 9px 10px;
    text-align: left;
    h4 {
      margin: 40px 0 23px;
      padding-left: 13px;
      color: #000;
      font-size: 18px;
      font-weight: 700;
    }
    p {
      padding-bottom: 22px;
      padding-left: 13px;
      color: dimgrey;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      border-bottom: 1px solid #d9d9d9;
    }
    .fa-thumbs-o-up {
      padding: 15px 0 0 13px;
    }
    .like {
      display: inline-block;
      margin: 0 60px 25px 0;
      color: #444;
      font-family: 600 14px/60px 'OpenSans';
      text-transform: uppercase;
    }
    @media screen and (min-width: 600px) {
      float: left;
      margin: 30px 20px 0 0;
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 60px;
      }
      &:nth-child(4n + 4) {
        margin-right: 0;
      }
    }
  }
}

/*-----------------------price----------------------------*/
#price {
  padding-bottom: 15px;
  background: #fff;
  @include corner;
  &:before,
  &:after {
    background: #fff;
    top: 0;
    @media screen and (min-width: 768px) {
      height: 150px;
    }
    @media screen and (min-width: 990px) {
      height: 200px;
      top: -7px
    }
  }
  &:before {
    left: 27px;
    @media screen and (min-width: 768px) {
      left: 45px;
    }
  }
  &:after {
    right: 27px;
    @media screen and (min-width: 768px) {
      right: 45px;
    }
  }
  .section-title {
    @include section-title;
    margin-bottom: 50px;
    padding-top: 90px;
    @media screen and (min-width: 990px) {
      margin-bottom: 97px;
    }
  }
  .price-item {
    .silver,
    .platinum,
    .gold {
      width: 300px;
      height: 568px;
      margin: 0 auto 30px;
      h4 {
        padding: 47px 0 31px;
        font: 700 26px 'Lato';
        color: #fff;
        text-transform: uppercase;
      }
      .total {
        position: relative;
        color: black;
        font-size: 48px;
        font-weight: 800;
        &:before {
          content: '$';
          position: absolute;
          top: 10px;
          left: -15px;
          font-size: 24px;
        }
      }
      .month {
        color: #000;
        font-weight: 400;
        font-size: 14px;
      }
      .price-features {
        padding-top: 40px;
        color: black;
        font-size: 18px;
        line-height: 72px;
        li:first-child {
          border-top: 1px solid #fff;
        }
      }
      .sign-up {
        display: inline-block;
        width: 168px;
        height: 45px;
        margin-top: 10px;
        background-color: black;
        border: 1px solid #000;
        font-size: 16px;
        font-weight: 700;
        line-height: 2.5;
        text-transform: uppercase;
        transition: all 0.5s;
        &:hover {
          background-color: #009bff;
          border: 1px solid #fff;
        }
      }
    }
    .silver,
    .platinum {
      background-color: #fc0;
    }
    .gold {
      height: 630px;
      background-color: #009bff;
      border: 1px solid #009bff;
      box-shadow: 0 0 7.5px 0.5px rgba(0, 0, 0, 0.23);
      .check {
        padding-top: 31px;
        color: #fff;
        font-size: 36px;
      }
      h4 {
        padding-top: 34px;
      }
    }
    @media screen and (min-width: 990px) {
      position: relative;
      z-index: 5;
      width: 900px;
      margin: 0 auto;
      .silver,
      .platinum,
      .gold {
        float: left;
      }
      .gold {
        margin-top: -31px;
      }
    }
  }
}
/*----------------------------pre-footer--------------------*/

#pre-footer {
  background-color: #204359;
  @include corner;
  &:before,
  &:after {
    top: -50px;
    background: #fff;
    @media screen and (min-width: 600px) {
      top: -69px;
    }
    @media screen and (min-width: 768px) {
      height: 160px;
      top: -86px;
    }
    @media screen and (min-width: 990px) {
      top: -140px;
    }
  }
  &:after {
    right: 46%;
    transform: rotate(11deg);
    @media screen and (min-width: 480px) {
      right: 47%;
    }
    @media screen and (min-width: 1300px) {
      right: 48%;
    }
  }
  &:before {
    left: 46%;
    transform: rotate(-11deg);
    @media screen and (min-width: 480px) {
      left: 47%;
    }
    @media screen and (min-width: 1100px) {
      left: 48%;
    }
  }

  .info-footer {
    padding-top: 130px;
    width: 355px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      padding-top: 200px;
    }
    .info {
      margin: 20px 0;
      color: #9ab3cc;
      font-size: 14px;
    }
    .contact-info {
      width: 240px;
      margin: 0 auto;
      color: #9ab3cc;
      text-align: left;
      font-size: 14px;
      .address,
      .tel,
      .mail {
        margin-left: 10px;
      }
      .address {
        span:last-child {
          padding-left: 24px;
        }
      }
      .tel {
        display: inline-block;
        margin: 32px 0 25px 10px;
      }
      a {
        color: #9ab3cc;
      }
    }
  }
  .navigation,
  .more-about,
  .newsletter {
    margin: 0 auto;
    .nav,
    .more {
      a {
        color: #9ab3cc;
        font-size: 14px;
        font-weight: 400;
        line-height: 36px;
      }
    }
  }
  .navigation {
    h4 {
      @include footer-title-group;
      &:after {
        width: 85px;
      }
    }
  }
  .more-about {
    h4 {
      @include footer-title-group;
      &:after {
        width: 146px;
      }
    }
  }
  .newsletter {
    h4 {
      @include footer-title-group;
      &:after {
        width: 90px;
      }
    }
    p {
      color: #748ca5;
      font: 400 14px/24px 'OpenSans';
    }
    .email-form {
      position: relative;
      margin-top: 41px;
      &:before {
        position: absolute;
        display: inline-block;
        font: normal normal normal 18px/1 FontAwesome;
        content: "\f1d8";
        color: #fff;
        top: 12px;
        right: 19px;
      }
      input[type="email"] {
        border: none;
        width: 240px;
        height: 40px;
        background-color: white;
      }
      input[type="submit"] {
        border: none;
        margin-left: -10px;
        width: 48px;
        height: 41px;
        color: #fff;
        background-color: #009bff;
        cursor: pointer;
      }
      ::-webkit-input-placeholder {
        padding-left: 10px;
        color: #a6a6a6;
        font: italic 14px 'OpenSans';
      }
      ::-moz-placeholder {
        padding-left: 10px;
        color: #a6a6a6;
        font: italic 14px 'OpenSans';
      }
    }
  }
  .social {
    padding: 33px 0 50px;
    li {
      display: inline-block;
      margin-right: 19px;
      .fa {
        color: #94abc3;
        transition: all 0.5s;
        &:hover {
          color: #009bff;
        }
      }
    }
  }
  .pre-footer {
    overflow: hidden;
    padding-bottom: 50px;
    @media screen and (min-width: 990px) {
      .info-footer,
      .navigation,
      .more-about,
      .newsletter {
        float: left;
        padding-top: 200px;
        text-align: left;
        margin-right: 25px;
      }
    }
    @media screen and (min-width: 1100px) {
      .info-footer,
      .navigation,
      .more-about {
        margin-right: 50px;
      }
    }
    @media screen and (min-width: 1180px) {
      .info-footer,
      .navigation,
      .more-about {
        margin-right: 90px;
      }
    }
    .navigation {
      width: 90px;
    }
    .more-about {
      width: 150px;
    }
    .newsletter {
      width: 282px;
      @media screen and (min-width: 990px) {
        margin-right: 0;
      }
      @media screen and (min-width: 1100px) {
        margin-right: 0;
      }
      @media screen and (min-width: 1170px) {
        margin-right: 0;
      }
    }
  }
}