html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*--------------------------header----------------------------*/
header .fa-bars {
  padding-top: 30px;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
}
header .fa-bars:hover {
  color: #ffcc00;
}
header .navigation {
  display: none;
}
header .navigation li {
  margin: 15px 0;
}
header .navigation li a:hover {
  color: #ffcc00;
}
@media screen and (min-width: 768px) {
  header .navigation {
    display: block;
  }
  header .navigation li {
    display: inline-block;
    position: relative;
    padding-top: 32px;
    margin: 0 15px 0 0;
    width: 84px;
    height: 70px;
    transition: all 0.7s;
  }
  header .navigation li:after {
    content: "";
    position: absolute;
    bottom: -26px;
    right: 0;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    border-top: 26px solid #fc0;
    opacity: 0;
    transition: all 0.7s;
  }
  header .navigation li a:hover {
    color: #fff;
  }
  header .navigation li:hover {
    background-color: #fc0;
  }
  header .navigation li:hover:after {
    opacity: 1;
  }
  header .fa-bars {
    display: none;
  }
}

/*------------------------------footer----------------------*/
footer {
  position: relative;
  background-color: #204359;
  border-top: 1px solid #4a627c;
}
footer .copyright {
  padding: 43px 0 25px;
  color: #748ca5;
  font: 400 11px 'OpenSans';
  text-transform: uppercase;
}
footer .top-button {
  position: absolute;
  top: -28px;
  right: 50%;
  transform: translateX(50%);
}

/*---------------------------background corner------------------*/
/*-------------------------------------section title---------------*/
/*----------------------------------footer------------------*/
/*----------------------------background-------------------*/
.container {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  text-align: center;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link, a:visited {
  font: 400 18px/24px 'Lato', sans-serif;
  text-decoration: none;
  color: #fff;
}

:focus {
  outline: none;
}

#wrapper {
  overflow: hidden;
  background-color: #ececec;
}

body {
  color: #6e6e6e;
  font: 400 16px/28px 'Lato', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/*---------------------------hero-----------------------------*/
#hero {
  background: url("../images/bg-hero.png") center no-repeat;
  background-size: cover;
  min-height: 450px;
}
@media screen and (min-width: 768px) {
  #hero {
    min-height: 709px;
  }
}
@media screen and (min-width: 1270px) {
  #hero {
    height: 950px;
  }
}
#hero .intro {
  max-width: 679px;
  margin: 0 auto;
}
#hero .intro .logo {
  display: inline-block;
  margin-top: 135px;
}
@media screen and (min-width: 768px) {
  #hero .intro .logo {
    margin-top: 200px;
  }
}
#hero .intro .intro-title {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  #hero .intro .intro-title {
    line-height: 60px;
    font-size: 44px;
  }
}

/*-------------------------------about------------------*/
#about {
  background-color: #ececec;
  position: relative;
}
#about:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 108px;
  transform: rotate(-17deg);
}
#about:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 108px;
  transform: rotate(17deg);
}
#about:before, #about:after {
  height: 150px;
  z-index: 2;
  bottom: -55px;
  background: #ececec;
}
@media screen and (min-width: 768px) {
  #about:before, #about:after {
    height: 220px;
    bottom: -90px;
  }
}
@media screen and (min-width: 990px) {
  #about:before, #about:after {
    bottom: -15px;
    height: 250px;
  }
}
#about:after {
  right: 43%;
}
@media screen and (min-width: 900px) {
  #about:after {
    right: 44%;
  }
}
@media screen and (min-width: 1300px) {
  #about:after {
    right: 45%;
  }
}
#about:before {
  left: 43%;
}
@media screen and (min-width: 1100px) {
  #about:before {
    left: 45%;
  }
}
#about .section-title {
  position: relative;
  z-index: 3;
  margin-top: 40px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
  text-align: center;
}
#about .section-title:after {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  content: '';
  width: 100px;
  height: 2px;
  background-color: #708da0;
}
@media screen and (min-width: 768px) {
  #about .section-title {
    margin-top: 80px;
  }
}
#about .about {
  position: relative;
  z-index: 5;
}
#about .about li {
  display: inline-block;
  width: 300px;
  padding: 50px 0 60px;
}
@media screen and (min-width: 768px) {
  #about .about li:first-child {
    margin-right: 100px;
  }
}
@media screen and (min-width: 990px) {
  #about .about li {
    margin-right: 100px;
  }
  #about .about li:last-child {
    margin-right: 0;
  }
}
#about .about li h4 {
  margin-bottom: 30px;
  color: #333;
  font: 700 20px/28px 'Raleway';
  text-transform: uppercase;
}
#about .about li .background {
  display: inline-block;
  position: relative;
  margin: 60px 0;
  width: 128px;
  height: 75px;
  background: #fc0;
  -webkit-transition: -webkit-transform 300ms ease-out;
  -moz-transition: -moz-transform 300ms ease-out;
  -o-transition: -o-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#about .about li .background:before {
  content: "";
  position: absolute;
  top: -39px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  border-bottom: 40px solid #fc0;
}
#about .about li .background:after {
  content: "";
  position: absolute;
  bottom: -39px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  border-top: 40px solid #fc0;
}
#about .about li .background .fa {
  font-size: 60px;
  color: #fff;
  line-height: 1.3;
}
#about .about li .background:hover {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

/*--------------------------------------templates-------------------*/
#templates {
  padding-bottom: 70px;
  margin-bottom: -173px;
  background: #fff;
  position: relative;
}
@media screen and (min-width: 1100px) {
  #templates {
    padding-bottom: 10px;
  }
}
#templates:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 108px;
  transform: rotate(-17deg);
}
#templates:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 108px;
  transform: rotate(17deg);
}
@media screen and (min-width: 990px) {
  #templates {
    margin-bottom: 0;
    padding-top: 1px;
  }
}
#templates:before, #templates:after {
  height: 150px;
  bottom: -80px;
  background: #fff;
}
@media screen and (min-width: 480px) {
  #templates:before, #templates:after {
    bottom: -40px;
  }
}
@media screen and (min-width: 768px) {
  #templates:before, #templates:after {
    bottom: -20px;
  }
}
@media screen and (min-width: 900px) {
  #templates:before, #templates:after {
    bottom: -50px;
    height: 200px;
  }
}
@media screen and (min-width: 990px) {
  #templates:before, #templates:after {
    bottom: -130px;
    height: 220px;
  }
}
@media screen and (min-width: 1100px) {
  #templates:before, #templates:after {
    bottom: -110px;
    height: 250px;
  }
}
#templates:after {
  right: 46%;
  transform: rotate(11deg);
}
@media screen and (min-width: 600px) {
  #templates:after {
    right: 47%;
  }
}
@media screen and (min-width: 1100px) {
  #templates:after {
    right: 47%;
  }
}
#templates:before {
  left: 46%;
  transform: rotate(-11deg);
}
@media screen and (min-width: 600px) {
  #templates:before {
    left: 47%;
  }
}
#templates .section-title {
  position: relative;
  z-index: 3;
  margin-top: 40px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 150px;
}
#templates .section-title:after {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  content: '';
  width: 100px;
  height: 2px;
  background-color: #708da0;
}
@media screen and (min-width: 768px) {
  #templates .section-title {
    margin-top: 80px;
  }
}
@media screen and (min-width: 990px) {
  #templates .section-title {
    padding-top: 260px;
  }
}
#templates h4 {
  margin-bottom: 36px;
  color: #333;
  font-family: 700 20px/28px 'Raleway';
  text-transform: uppercase;
}
#templates .read-more {
  overflow: hidden;
  display: inline-block;
  margin-top: 50px;
  width: 96px;
  height: 27px;
  border: 1px solid #009aff;
  color: #009aff;
  font-size: 12px;
  transition: all 0.5s;
}
#templates .read-more:hover {
  background-color: #009aff;
  color: #fff;
}
@media screen and (min-width: 480px) {
  #templates img {
    max-width: 469px;
  }
}
@media screen and (min-width: 990px) {
  #templates img {
    float: right;
    margin-left: 100px;
  }
  #templates h4 {
    text-align: left;
    margin-top: 70px;
  }
  #templates p {
    text-align: left;
  }
  #templates .read-more {
    position: relative;
    z-index: 15;
    float: left;
  }
}

/*----------------------------------services------------------------------*/
#services {
  background: url("../images/bg-services.png") center no-repeat;
  background-size: cover;
}
#services .section-title {
  position: relative;
  z-index: 3;
  margin-top: 40px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 270px;
  color: #fff;
}
#services .section-title:after {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  content: '';
  width: 100px;
  height: 2px;
  background-color: #708da0;
}
@media screen and (min-width: 768px) {
  #services .section-title {
    margin-top: 80px;
  }
}
@media screen and (min-width: 990px) {
  #services .section-title {
    padding-top: 200px;
  }
}
#services .background {
  display: inline-block;
  position: relative;
  margin: 60px 0;
  width: 128px;
  height: 75px;
  background: #fc0;
  -webkit-transition: -webkit-transform 300ms ease-out;
  -moz-transition: -moz-transform 300ms ease-out;
  -o-transition: -o-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#services .background:before {
  content: "";
  position: absolute;
  top: -39px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  border-bottom: 40px solid #fc0;
}
#services .background:after {
  content: "";
  position: absolute;
  bottom: -39px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  border-top: 40px solid #fc0;
}
#services .background .fa {
  font-size: 60px;
  color: #fff;
  line-height: 1.3;
}
#services .background:hover {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
#services li {
  display: inline-block;
  width: 170px;
  margin: 0 auto 20px;
  color: white;
  font: 500 18px/28px 'Raleway';
}
#services li:last-child h4 {
  padding-bottom: 50px;
}
@media screen and (min-width: 990px) {
  #services .services {
    overflow: hidden;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 90px;
  }
  #services .services li {
    width: 23.72881%;
    float: left;
  }
  #services .services li:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  #services .services li:nth-child(4n + 2) {
    margin-left: 25.42373%;
    margin-right: -100%;
    clear: none;
  }
  #services .services li:nth-child(4n + 3) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }
  #services .services li:nth-child(4n + 4) {
    margin-left: 76.27119%;
    margin-right: -100%;
    clear: none;
  }
  #services .services li:nth-of-type(2), #services .services li:nth-of-type(3) {
    margin-top: 78px;
  }
}

/*------------------------blog--------------------------*/
#blog-container {
  margin: 0 auto;
}
#blog-container .blog-item {
  margin-right: auto;
  margin-left: auto;
}

#blog {
  position: relative;
  padding-bottom: 110px;
  background-color: #ececec;
}
#blog .section-title {
  position: relative;
  z-index: 3;
  margin-top: 40px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
  text-align: center;
}
#blog .section-title:after {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  content: '';
  width: 100px;
  height: 2px;
  background-color: #708da0;
}
@media screen and (min-width: 768px) {
  #blog .section-title {
    margin-top: 80px;
  }
}
#blog .blog-item {
  max-width: 270px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 10px 9px 9px 10px;
  text-align: left;
}
#blog .blog-item h4 {
  margin: 40px 0 23px;
  padding-left: 13px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
#blog .blog-item p {
  padding-bottom: 22px;
  padding-left: 13px;
  color: dimgrey;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  border-bottom: 1px solid #d9d9d9;
}
#blog .blog-item .fa-thumbs-o-up {
  padding: 15px 0 0 13px;
}
#blog .blog-item .like {
  display: inline-block;
  margin: 0 60px 25px 0;
  color: #444;
  font-family: 600 14px/60px 'OpenSans';
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  #blog .blog-item {
    float: left;
    margin: 30px 20px 0 0;
  }
  #blog .blog-item:nth-child(2), #blog .blog-item:nth-child(3) {
    margin-top: 60px;
  }
  #blog .blog-item:nth-child(4n + 4) {
    margin-right: 0;
  }
}

/*-----------------------price----------------------------*/
#price {
  padding-bottom: 15px;
  background: #fff;
  position: relative;
}
#price:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 108px;
  transform: rotate(-17deg);
}
#price:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 108px;
  transform: rotate(17deg);
}
#price:before, #price:after {
  background: #fff;
  top: 0;
}
@media screen and (min-width: 768px) {
  #price:before, #price:after {
    height: 150px;
  }
}
@media screen and (min-width: 990px) {
  #price:before, #price:after {
    height: 200px;
    top: -7px;
  }
}
#price:before {
  left: 27px;
}
@media screen and (min-width: 768px) {
  #price:before {
    left: 45px;
  }
}
#price:after {
  right: 27px;
}
@media screen and (min-width: 768px) {
  #price:after {
    right: 45px;
  }
}
#price .section-title {
  position: relative;
  z-index: 3;
  margin-top: 40px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 90px;
}
#price .section-title:after {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  content: '';
  width: 100px;
  height: 2px;
  background-color: #708da0;
}
@media screen and (min-width: 768px) {
  #price .section-title {
    margin-top: 80px;
  }
}
@media screen and (min-width: 990px) {
  #price .section-title {
    margin-bottom: 97px;
  }
}
#price .price-item .silver,
#price .price-item .platinum,
#price .price-item .gold {
  width: 300px;
  height: 568px;
  margin: 0 auto 30px;
}
#price .price-item .silver h4,
#price .price-item .platinum h4,
#price .price-item .gold h4 {
  padding: 47px 0 31px;
  font: 700 26px 'Lato';
  color: #fff;
  text-transform: uppercase;
}
#price .price-item .silver .total,
#price .price-item .platinum .total,
#price .price-item .gold .total {
  position: relative;
  color: black;
  font-size: 48px;
  font-weight: 800;
}
#price .price-item .silver .total:before,
#price .price-item .platinum .total:before,
#price .price-item .gold .total:before {
  content: '$';
  position: absolute;
  top: 10px;
  left: -15px;
  font-size: 24px;
}
#price .price-item .silver .month,
#price .price-item .platinum .month,
#price .price-item .gold .month {
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
#price .price-item .silver .price-features,
#price .price-item .platinum .price-features,
#price .price-item .gold .price-features {
  padding-top: 40px;
  color: black;
  font-size: 18px;
  line-height: 72px;
}
#price .price-item .silver .price-features li:first-child,
#price .price-item .platinum .price-features li:first-child,
#price .price-item .gold .price-features li:first-child {
  border-top: 1px solid #fff;
}
#price .price-item .silver .sign-up,
#price .price-item .platinum .sign-up,
#price .price-item .gold .sign-up {
  display: inline-block;
  width: 168px;
  height: 45px;
  margin-top: 10px;
  background-color: black;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5;
  text-transform: uppercase;
  transition: all 0.5s;
}
#price .price-item .silver .sign-up:hover,
#price .price-item .platinum .sign-up:hover,
#price .price-item .gold .sign-up:hover {
  background-color: #009bff;
  border: 1px solid #fff;
}
#price .price-item .silver,
#price .price-item .platinum {
  background-color: #fc0;
}
#price .price-item .gold {
  height: 630px;
  background-color: #009bff;
  border: 1px solid #009bff;
  box-shadow: 0 0 7.5px 0.5px rgba(0, 0, 0, 0.23);
}
#price .price-item .gold .check {
  padding-top: 31px;
  color: #fff;
  font-size: 36px;
}
#price .price-item .gold h4 {
  padding-top: 34px;
}
@media screen and (min-width: 990px) {
  #price .price-item {
    position: relative;
    z-index: 5;
    width: 900px;
    margin: 0 auto;
  }
  #price .price-item .silver,
  #price .price-item .platinum,
  #price .price-item .gold {
    float: left;
  }
  #price .price-item .gold {
    margin-top: -31px;
  }
}

/*----------------------------pre-footer--------------------*/
#pre-footer {
  background-color: #204359;
  position: relative;
}
#pre-footer:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 108px;
  transform: rotate(-17deg);
}
#pre-footer:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 108px;
  transform: rotate(17deg);
}
#pre-footer:before, #pre-footer:after {
  top: -50px;
  background: #fff;
}
@media screen and (min-width: 600px) {
  #pre-footer:before, #pre-footer:after {
    top: -69px;
  }
}
@media screen and (min-width: 768px) {
  #pre-footer:before, #pre-footer:after {
    height: 160px;
    top: -86px;
  }
}
@media screen and (min-width: 990px) {
  #pre-footer:before, #pre-footer:after {
    top: -140px;
  }
}
#pre-footer:after {
  right: 46%;
  transform: rotate(11deg);
}
@media screen and (min-width: 480px) {
  #pre-footer:after {
    right: 47%;
  }
}
@media screen and (min-width: 1300px) {
  #pre-footer:after {
    right: 48%;
  }
}
#pre-footer:before {
  left: 46%;
  transform: rotate(-11deg);
}
@media screen and (min-width: 480px) {
  #pre-footer:before {
    left: 47%;
  }
}
@media screen and (min-width: 1100px) {
  #pre-footer:before {
    left: 48%;
  }
}
#pre-footer .info-footer {
  padding-top: 130px;
  width: 355px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #pre-footer .info-footer {
    padding-top: 200px;
  }
}
#pre-footer .info-footer .info {
  margin: 20px 0;
  color: #9ab3cc;
  font-size: 14px;
}
#pre-footer .info-footer .contact-info {
  width: 240px;
  margin: 0 auto;
  color: #9ab3cc;
  text-align: left;
  font-size: 14px;
}
#pre-footer .info-footer .contact-info .address,
#pre-footer .info-footer .contact-info .tel,
#pre-footer .info-footer .contact-info .mail {
  margin-left: 10px;
}
#pre-footer .info-footer .contact-info .address span:last-child {
  padding-left: 24px;
}
#pre-footer .info-footer .contact-info .tel {
  display: inline-block;
  margin: 32px 0 25px 10px;
}
#pre-footer .info-footer .contact-info a {
  color: #9ab3cc;
}
#pre-footer .navigation,
#pre-footer .more-about,
#pre-footer .newsletter {
  margin: 0 auto;
}
#pre-footer .navigation .nav a,
#pre-footer .navigation .more a,
#pre-footer .more-about .nav a,
#pre-footer .more-about .more a,
#pre-footer .newsletter .nav a,
#pre-footer .newsletter .more a {
  color: #9ab3cc;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}
#pre-footer .navigation h4 {
  position: relative;
  margin: 40px 0;
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}
#pre-footer .navigation h4:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  color: #7eabc7;
}
#pre-footer .navigation h4:after {
  width: 85px;
}
#pre-footer .more-about h4 {
  position: relative;
  margin: 40px 0;
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}
#pre-footer .more-about h4:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  color: #7eabc7;
}
#pre-footer .more-about h4:after {
  width: 146px;
}
#pre-footer .newsletter h4 {
  position: relative;
  margin: 40px 0;
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}
#pre-footer .newsletter h4:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  color: #7eabc7;
}
#pre-footer .newsletter h4:after {
  width: 90px;
}
#pre-footer .newsletter p {
  color: #748ca5;
  font: 400 14px/24px 'OpenSans';
}
#pre-footer .newsletter .email-form {
  position: relative;
  margin-top: 41px;
}
#pre-footer .newsletter .email-form:before {
  position: absolute;
  display: inline-block;
  font: normal normal normal 18px/1 FontAwesome;
  content: "\f1d8";
  color: #fff;
  top: 12px;
  right: 19px;
}
#pre-footer .newsletter .email-form input[type="email"] {
  border: none;
  width: 240px;
  height: 40px;
  background-color: white;
}
#pre-footer .newsletter .email-form input[type="submit"] {
  border: none;
  margin-left: -10px;
  width: 48px;
  height: 41px;
  color: #fff;
  background-color: #009bff;
  cursor: pointer;
}
#pre-footer .newsletter .email-form ::-webkit-input-placeholder {
  padding-left: 10px;
  color: #a6a6a6;
  font: italic 14px 'OpenSans';
}
#pre-footer .newsletter .email-form ::-moz-placeholder {
  padding-left: 10px;
  color: #a6a6a6;
  font: italic 14px 'OpenSans';
}
#pre-footer .social {
  padding: 33px 0 50px;
}
#pre-footer .social li {
  display: inline-block;
  margin-right: 19px;
}
#pre-footer .social li .fa {
  color: #94abc3;
  transition: all 0.5s;
}
#pre-footer .social li .fa:hover {
  color: #009bff;
}
#pre-footer .pre-footer {
  overflow: hidden;
  padding-bottom: 50px;
}
@media screen and (min-width: 990px) {
  #pre-footer .pre-footer .info-footer,
  #pre-footer .pre-footer .navigation,
  #pre-footer .pre-footer .more-about,
  #pre-footer .pre-footer .newsletter {
    float: left;
    padding-top: 200px;
    text-align: left;
    margin-right: 25px;
  }
}
@media screen and (min-width: 1100px) {
  #pre-footer .pre-footer .info-footer,
  #pre-footer .pre-footer .navigation,
  #pre-footer .pre-footer .more-about {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1180px) {
  #pre-footer .pre-footer .info-footer,
  #pre-footer .pre-footer .navigation,
  #pre-footer .pre-footer .more-about {
    margin-right: 90px;
  }
}
#pre-footer .pre-footer .navigation {
  width: 90px;
}
#pre-footer .pre-footer .more-about {
  width: 150px;
}
#pre-footer .pre-footer .newsletter {
  width: 282px;
}
@media screen and (min-width: 990px) {
  #pre-footer .pre-footer .newsletter {
    margin-right: 0;
  }
}
@media screen and (min-width: 1100px) {
  #pre-footer .pre-footer .newsletter {
    margin-right: 0;
  }
}
@media screen and (min-width: 1170px) {
  #pre-footer .pre-footer .newsletter {
    margin-right: 0;
  }
}
